<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- include('header') -%>
    <main>

        <h2><%= title %></h2>

        <form method='POST'>
            <label for="name"></label>
            <input type='text' placeholder="Category name" name="name" value="<%= category.name || '' %>"" required /> <br>

            <button type="submit" >Submit</button>

            <div id="errors-div">
                <% if (errors && errors.length) { %>
                  <ul>
                    <% errors.forEach(function(error) { %>
                      <li><%= error.msg %></li>
                    <% }); %>
                  </ul>
                <% } %>
              </div>
              
        </form>
        
    </main>
  </body>
</html>