<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- include('header') -%>
    <main>
      <div style="text-align: center;">
        <h2><%= title %></h2>

        <form method='POST'>
            <label for="itemColor"></label>
            <input type='text'class="form-control" placeholder="Color name" name="itemColor" value="<%= color.itemColor || '' %>" required /> <br>
            <label for="colorCode"></label>
            <input type='text'class="form-control" placeholder="#RRGGBB" name="colorCode" value="<%= color.colorCode || '' %>" required /> <br>

            <button style="margin: 30px 30px 30px 40px" class="button-style" type="submit" >Submit</button>

            <div id="errors-div">
                <% if (errors && errors.length) { %>
                  <ul>
                    <% errors.forEach(function(error) { %>
                      <li><%= error.msg %></li>
                    <% }); %>
                  </ul>
                <% } %>
              </div>
            </div>      
        </form>
        
    </main>
  </body>
</html>