<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- include('header') -%>
    <main>
      <div id="indexpage">
        <h3>Inventory Mangement</h3>
        <hr>
        <p>Welcome to Inventory Management! <br> 
          You are able to create, read, update and delete items.</p>

        <h3>Records Count</h3>
        <hr>
        <p>Items: <%= items_count %> </p>
        <p>Categories: <%= category_count %></p>       
        <p>Colors: <%= colors_count %> </p>
      </div>
    </main>

  </body>
</html>
