<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- include('header') -%>
    <main id="items-main">

        <h3 id="all-items-h3">All Items</h3>
        <hr>

        <div id="page-container">

          <div id="itemsDiv">
            
              <% if (item_list.length) { %>

                  <div class="itemsContainer">
                    <% item_list.forEach(function(item) { %>
                      <div class="item">
                        
                          <img class="productImg" src="<%= item.mainImageUrl %>" alt="Product-image">
                          <a class="itemName" href="<%= item.url %>"><%= item.name %></a>
                          <p> $<%= item.price %> </p>
    
                        
                      </div>

                    <% }); %>
                  </div>

                <% } else { %>
                  <p>There are no items.</p>
                <% } %>
          </div>
        </div>

        <div id="create-item-div">
          <a class="button-style" href="/item/create">Create Item</a>
        </div>
    </main>

  </body>
</html>
