<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- include('header') -%>
    <main>

      <div style="text-align: center;">

        <h2><%= title %> </h2>
        <p style="margin-bottom: 40px;">Do you really want to delete this item?</p> 
        <div style="text-align: center;" id="item-delete-div">

          <p ><%= item.name %></p>
          <div style="margin-bottom: 40px;" id="delete-item-img-div">
              <% if (item.mainImageUrl.startsWith('up')) { %>
                  <img id="delete-item-img" src="<%= '/' + item.mainImageUrl %>">
              <% } else { %>
                  <img id="delete-item-img" src="<%= item.mainImageUrl %>">
              <% } %>
          </div>
        </div>

        <form method='POST'>
            <label for="itemid"></label>
                <input type='hidden' name='itemid' value= "<%= item._id %>"/>
          
            <button class="button-style" type='submit' >Delete </button>
        </form>
      </div>
        
    </main>
</html>