<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- include('header') -%>
    <main>

        <h2>Create Item</h2>

        <form method='POST' enctype="multipart/form-data">

            <div class='form-group'>

              <label for='name'>Name: </label><br>
              <input id='name' class='form-control' type='text' placeholder='Name of item' name='name' value='<%= item?.name || "" %>'  required /><br>

              <label for='price'>Price: </label><br>
              <input id='price' class='form-control' type='text' placeholder='price of item' name='price' value='<%= item?.price || "" %>'  required /><br>

              <label for='stock'>In Stock: </label><br>
              <input id='stock' class='form-control' type='text' placeholder='stock of item' name='stock' value='<%= item?.stock || "" %>'  required /><br>

              <br>
              <label for='description'>Product Description:</label><br>
              <textarea id='product-description' class='form-control' rows="4" cols="50" placeholder='Description for Item' name='description' value='<%= item?.description || "" %>'  required></textarea>
  
              <% if (category.length) { %> 
                <p>Category</p><br>          
                <% category.forEach(function(categoryy) { %>
                  
                  <label for="category">
                    <input type="checkbox" id="title_1" name="category" value="<%= categoryy._id %>" />  <%= categoryy.name %>
                  </label>

                <% }); %>   
              <% } %>

              <br>
              <label for="mainImage">Main Product Image</label> <br>
              <input type="file" name="mainImageUrl" />
              
              <br>   
              <button type="submit">Submit</button>

            </div>
            <div id="errors-div">
            <% if (errors && errors.length) { %>
              <ul>
                <% errors.forEach(function(error) { %>
                  <li><%= error.msg %></li>
                <% }); %>
              </ul>
            <% } %>
          </div>

          </form>
        
  
    </body>
</html>